:root {
	font-size: var(--root-font-size);
}

* {
  font-family: Verdana, Arial, sans-serif;
}

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

a {
	color: var(--anchor-color);
}

input {
	font-size: inherit;
}
